/* Color Fonts */
@import url(https://fonts.googleapis.com/css2?family=Bungee+Spice);

/* @font-palette-values --colorized {
  font-family: "Bungee Spice";
  base-palette: 0;
  override-colors: 1 hotpink, 2 cyan, 1.5 white;
} */

.logs img {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color-dodge;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background: repeating-radial-gradient(red 20%, rgb(24, 34, 24) 30%) fixed;
  color: white !important;
  min-height: 100vh;
  box-sizing: border-box;
}
a{
  color: white;
  border-radius: 10px;
  text-decoration: none !important;
}

.App {
  backdrop-filter: blur(15px);
}

/* Button */
button{
  padding: 8px;
  border-radius: 7px !important;
  font-size: large;
  cursor: pointer;
}

/* Products Img */
.team img{
  max-width: 100%;
  height: 310px;
  object-fit: fill;
  padding: 5px 2px 5px 0px;
  border-radius: 10px;
  aspect-ratio: 1900/1000;
  box-sizing: border-box !important;
  box-sizing: content-box !important;
  overflow: hidden;
}
.team img:hover{
  max-width: 100%;
  height: 500px;
}
img{
  box-sizing: border-box !important;
  overflow: auto !important;
}

/* React.icon */
.icon{
  padding-right: 5px;
  font-size: 1.6rem;
}
.icon-p{
  padding: 5px;
  font-size: 2rem;
  float: right;
}